In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
import pyspark.sql.functions as func
import pandas as pd

In [2]:
sc = SparkContext(appName="discount analysis")
spark = SparkSession(sc)

In [5]:
input_df = spark.read.csv("input.txt")

# review - price history

In [46]:
import os
input_path = "../../data/review_price/review-download/output/"
input_list = os.listdir(input_path)
with open("input.txt", 'w', encoding='utf-8') as f:
    for file in input_list:
        f.write(file+'\n')

In [47]:
input_df = spark.read.csv("input.txt")
input_df = input_df.toPandas()
input_list = input_df[input_df.columns[0]].to_list()
print(type(input_list))
input_list[:10]

<class 'list'>

['10180.csv',
 '10220.csv',
 '102600.csv',
 '104900.csv',
 '10500.csv',
 '105000.csv',
 '105600.csv',
 '10680.csv',
 '107100.csv',
 '107200.csv']

In [48]:
df = spark.read.csv(input_path+"240.csv", header=True, inferSchema=True)
df.show(10)

+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
|               date|  Owners|Price|PriceChangeTo|discount|total_reviews|total_positive|total_negative|review_score|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
|2015-04-01 00:00:00|13698000|  0.0|        19.99|    null|        34324|         33346|           978|           9|
|2015-06-11 00:00:00|13830000|19.99|         7.49|   37.47|        36287|         35177|          1110|           9|
|2015-06-22 00:00:00|13893000| 7.49|        19.99|  266.89|        36806|         35677|          1129|           9|
|2015-11-25 00:00:00|14300000|19.99|         7.49|   37.47|        40673|         39321|          1352|           9|
|2015-12-01 00:00:00|14314000| 7.49|        19.99|  266.89|        40938|         39569|          1369|           9|
|2015-12-22 00:00:00|14362000|19.99|         7.49|   37.47|        41547|         40150|          1397|           9|
|2016-01-04 00:00:00|14444000| 7.49|        19.99|  266.89|        42245|         40806|          1439|           9|
|2016-02-05 00:00:00|15218000|19.99|         4.99|   24.96|        43308|         41807|          1501|           9|
|2016-02-12 00:00:00|14906000| 4.99|        19.99|   400.6|        43706|         42178|          1528|           9|
|2016-11-23 00:00:00|15629000|19.99|         6.79|   33.97|        50195|         48312|          1883|           9|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
only showing top 10 rows

In [49]:
df.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- Owners: integer (nullable = true)
 |-- Price: double (nullable = true)
 |-- PriceChangeTo: double (nullable = true)
 |-- discount: double (nullable = true)
 |-- total_reviews: integer (nullable = true)
 |-- total_positive: integer (nullable = true)
 |-- total_negative: integer (nullable = true)
 |-- review_score: integer (nullable = true)

In [50]:
df = df.dropna()
df.show(10)

+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
|               date|  Owners|Price|PriceChangeTo|discount|total_reviews|total_positive|total_negative|review_score|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
|2015-06-11 00:00:00|13830000|19.99|         7.49|   37.47|        36287|         35177|          1110|           9|
|2015-06-22 00:00:00|13893000| 7.49|        19.99|  266.89|        36806|         35677|          1129|           9|
|2015-11-25 00:00:00|14300000|19.99|         7.49|   37.47|        40673|         39321|          1352|           9|
|2015-12-01 00:00:00|14314000| 7.49|        19.99|  266.89|        40938|         39569|          1369|           9|
|2015-12-22 00:00:00|14362000|19.99|         7.49|   37.47|        41547|         40150|          1397|           9|
|2016-01-04 00:00:00|14444000| 7.49|        19.99|  266.89|        42245|         40806|          1439|           9|
|2016-02-05 00:00:00|15218000|19.99|         4.99|   24.96|        43308|         41807|          1501|           9|
|2016-02-12 00:00:00|14906000| 4.99|        19.99|   400.6|        43706|         42178|          1528|           9|
|2016-11-23 00:00:00|15629000|19.99|         6.79|   33.97|        50195|         48312|          1883|           9|
|2016-11-29 00:00:00|15462000| 6.79|        19.99|   294.4|        52469|         50555|          1914|           9|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
only showing top 10 rows

In [51]:
df.columns

['date',
 'Owners',
 'Price',
 'PriceChangeTo',
 'discount',
 'total_reviews',
 'total_positive',
 'total_negative',
 'review_score']

In [52]:
df.select('discount').show(5)

+--------+
|discount|
+--------+
|   37.47|
|  266.89|
|   37.47|
|  266.89|
|   37.47|
+--------+
only showing top 5 rows

In [53]:
df = df.withColumn("discount", func.round((df.Price - df.PriceChangeTo) / df.Price * 100, 0).cast('Int'))
df.show(10)

+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
|               date|  Owners|Price|PriceChangeTo|discount|total_reviews|total_positive|total_negative|review_score|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
|2015-06-11 00:00:00|13830000|19.99|         7.49|      63|        36287|         35177|          1110|           9|
|2015-06-22 00:00:00|13893000| 7.49|        19.99|    -167|        36806|         35677|          1129|           9|
|2015-11-25 00:00:00|14300000|19.99|         7.49|      63|        40673|         39321|          1352|           9|
|2015-12-01 00:00:00|14314000| 7.49|        19.99|    -167|        40938|         39569|          1369|           9|
|2015-12-22 00:00:00|14362000|19.99|         7.49|      63|        41547|         40150|          1397|           9|
|2016-01-04 00:00:00|14444000| 7.49|        19.99|    -167|        42245|         40806|          1439|           9|
|2016-02-05 00:00:00|15218000|19.99|         4.99|      75|        43308|         41807|          1501|           9|
|2016-02-12 00:00:00|14906000| 4.99|        19.99|    -301|        43706|         42178|          1528|           9|
|2016-11-23 00:00:00|15629000|19.99|         6.79|      66|        50195|         48312|          1883|           9|
|2016-11-29 00:00:00|15462000| 6.79|        19.99|    -194|        52469|         50555|          1914|           9|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+
only showing top 10 rows

In [54]:
df = df.withColumn('app_id', func.lit('240'))
df.show()

+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+------+
|               date|  Owners|Price|PriceChangeTo|discount|total_reviews|total_positive|total_negative|review_score|app_id|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+------+
|2015-06-11 00:00:00|13830000|19.99|         7.49|      63|        36287|         35177|          1110|           9|   240|
|2015-06-22 00:00:00|13893000| 7.49|        19.99|    -167|        36806|         35677|          1129|           9|   240|
|2015-11-25 00:00:00|14300000|19.99|         7.49|      63|        40673|         39321|          1352|           9|   240|
|2015-12-01 00:00:00|14314000| 7.49|        19.99|    -167|        40938|         39569|          1369|           9|   240|
|2015-12-22 00:00:00|14362000|19.99|         7.49|      63|        41547|         40150|          1397|           9|   240|
|2016-01-04 00:00:00|14444000| 7.49|        19.99|    -167|        42245|         40806|          1439|           9|   240|
|2016-02-05 00:00:00|15218000|19.99|         4.99|      75|        43308|         41807|          1501|           9|   240|
|2016-02-12 00:00:00|14906000| 4.99|        19.99|    -301|        43706|         42178|          1528|           9|   240|
|2016-11-23 00:00:00|15629000|19.99|         6.79|      66|        50195|         48312|          1883|           9|   240|
|2016-11-29 00:00:00|15462000| 6.79|        19.99|    -194|        52469|         50555|          1914|           9|   240|
|2016-12-22 00:00:00|15799000|19.99|         6.79|      66|        53081|         51139|          1942|           9|   240|
|2017-01-02 00:00:00|15861000| 6.79|        19.99|    -194|        53687|         51711|          1976|           9|   240|
|2017-06-22 00:00:00|15600000|19.99|         6.79|      66|        57960|         55775|          2185|           9|   240|
|2017-07-05 00:00:00|15883000| 6.79|        19.99|    -194|        58870|         56640|          2230|           9|   240|
|2017-12-21 00:00:00|16215000|19.99|         6.79|      66|        63255|         60794|          2461|           9|   240|
|2018-01-04 00:00:00|16388000| 6.79|        19.99|    -194|        64032|         61535|          2497|           9|   240|
|2018-02-15 00:00:00|15892000|19.99|         6.79|      66|        65140|         62584|          2556|           9|   240|
|2018-02-19 00:00:00|15823000| 6.79|        19.99|    -194|        65282|         62720|          2562|           9|   240|
|2018-06-21 00:00:00|13820000|19.99|         6.79|      66|        67463|         64752|          2711|           9|   240|
|2018-07-05 00:00:00|13854000| 6.79|        19.99|    -194|        67990|         65254|          2736|           9|   240|
+-------------------+--------+-----+-------------+--------+-------------+--------------+--------------+------------+------+
only showing top 20 rows

In [55]:
# df.write.options(header='True', delimiter=',').csv("./ouput")

In [ ]:
id1 = input_list[0]
df1 = spark.read.csv(input_path+id1, header=True, inferSchema=True)
df1 = df1.withColumn('app_id', func.lit(id1))
df1.show()

In [ ]:
id2 = input_list[1]
df2 = spark.read.csv(input_path+id2, header=True, inferSchema=True)
df2 = df2.withColumn('app_id', func.lit(id2))
df2.show()

In [ ]:
union_df = df1.union(df2)
union_df.show(100)