In [1]:
from pyspark.sql import SparkSession

# Require CPU 4 Core
spark = SparkSession.builder.master("local[4]") \
                    .appName('SparkLocal') \
                    .getOrCreate()
sc = SparkSession.sparkContext

In [2]:
spark.sparkContext.stop()

In [2]:
df = spark.read.csv("./test_data/") # 前提是col相同，会把所有的合并，分不出游戏id，所以我们其实用不到这样，直接一个循环搞

In [3]:
df.show()

+----------+--------+----+----+-------+-----+----+
|       _c0|     _c1| _c2| _c3|    _c4|  _c5| _c6|
+----------+--------+----+----+-------+-----+----+
|2015-04-01|13698000|null|null|   null|    0|null|
|2015-04-02|13685000|null|null|   null|19.99|null|
|2015-04-03|13661000|null|null|   null|19.99|null|
|2015-04-04|13649000|null|null|   null|19.99|null|
|2015-04-05|13659000|null|null|#2B6A94|19.99|null|
|2015-04-06|13643000|null|null|   null|19.99|null|
|2015-04-07|13627000|null|null|   null|19.99|null|
|2015-04-08|13607000|null|null|   null|19.99|null|
|2015-04-09|13579000|null|null|   null|19.99|null|
|2015-04-10|13592000|null|null|   null|19.99|null|
|2015-04-11|13586000|null|null|   null|19.99|null|
|2015-04-12|13592000|null|null|#2B6A94|19.99|null|
|2015-04-13|13604000|null|null|   null|19.99|null|
|2015-04-14|13609000|null|null|   null|19.99|null|
|2015-04-15|13619000|null|null|   null|19.99|null|
|2015-04-16|13622000|null|null|   null|19.99|null|
|2015-04-17|13628000|null|null|   null|19.99|null|
|2015-04-18|13638000|null|null|   null|19.99|null|
|2015-04-19|13631000|null|null|#2B6A94|19.99|null|
|2015-04-20|13639000|null|null|   null|19.99|null|
+----------+--------+----+----+-------+-----+----+
only showing top 20 rows